rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Default to denying all access
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow a server process (that is not authenticated) to read a user document
    // ONLY for the purpose of biometric login. Deny listing or writing.
    match /users/{userId} {
      allow get: if request.auth == null;
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Allow logged-in users to read, create, update, and delete their own data
    // in their own sub-collections.
    match /users/{userId}/{collection}/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
