rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Default to denying all access
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow the server to read user documents for authentication purposes (e.g., biometric login)
    match /users/{userId} {
      allow get: if true;
    }

    // Allow users to read, create, update, and delete their own data
    match /users/{userId}/{collection}/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
