@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 180 100% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 180 100% 25.1%;
    --radius: 0.5rem;
    --chart-1: 180 100% 25.1%;
    --chart-2: 190 80% 45%;
    --chart-3: 200 70% 55%;
    --chart-4: 210 60% 65%;
    --chart-5: 220 50% 75%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 100% 30%;
    --primary-foreground: 180 100% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 180 100% 30%;
    --chart-1: 180 100% 30%;
    --chart-2: 190 80% 50%;
    --chart-3: 200 70% 60%;
    --chart-4: 210 60% 70%;
    --chart-5: 220 50% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .text-rose-600 {
    color: hsl(var(--destructive));
  }
  .bg-rose-100 {
    background-color: hsl(var(--destructive) / 0.1);
  }
  .dark .bg-rose-900 {
     background-color: hsl(var(--destructive) / 0.2);
  }
   .text-green-600 {
    color: hsl(var(--chart-1));
  }
  .bg-green-100 {
    background-color: hsl(var(--chart-1) / 0.1);
  }
  .dark .bg-green-900 {
      background-color: hsl(var(--chart-1) / 0.2);
  }
}
